<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Category</title>
</head>
<body>
<h1 th:text="${title}">Create Category</h1>
<form th:action="@{/eventCategories/create}" th:object="${eventCategory}" method="post">
    <p>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" />
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
    </p>
    <p>
        <input type="submit" value="Add Category" />
    </p>
</form>
</body>
</html>